*, *::before, *::after{
  box-sizing: border-box;
}

body {
  font: 1.6rem/1.15 $font-family;
  letter-spacing: -1px;
  visibility: visible;
}

a{
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

a img {
  vertical-align: middle;
}

button {
  cursor: pointer;
  border: 0;
  background-color: transparent;
  padding: 0;
}

button:disabled {
  cursor: not-allowed;
}

figure{
  margin: 0;
}

ul, li {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.onload {
  visibility: hidden;
}
