@import "./abstracts/mixin";
@import "./abstracts/variables_color";
@import "./abstracts/a11y";

@import "./base/base";

@import "./pages/common";

@import "./components/header";
@import "./components/nav";
@import "./components/banner";
@import "./components/best";
@import "./components/delivery";
@import "./components/service";
@import "./components/vedio";
@import "./components/superDeal";
@import "./components/g9";
@import "./components/trand";
@import "./components/power";
@import "./components/chance";
@import "./components/notice";
@import "./components/font";
@import "./components/footer";
@import "./components/gotop";

