header {
  position: relative;
  width: 100%;
  min-width: 320px;
  height: 170px;
  background-color: #fff;
  z-index: 10;
}

header.sticky {
  position: sticky;
  top: 0;
  height: 120px;
}

header.sticky .top-nav {
  display: none;
}

header.sticky .header-nav {
  margin-top: -50px;
}

header .top-nav {
  position: relative;
  height: 50px;
  background-color: #243c84;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* global-menu */
header .top-nav .global-menu {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .top-nav .global-menu li {
  height: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../images/common/util_line.gif') right center no-repeat;
}

header .top-nav .global-menu li:last-child {
  background: none;
}

header .top-nav .global-menu li a,
header .top-nav .top-util ul li a {
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  white-space: nowrap;
}

header .top-nav .global-menu li.on {
  background-color: #fff;
}

header .top-nav .global-menu li.on a {
  color: #243c84;
}

/* top-util */
header .top-nav .top-util {
  margin: 10px 30px 10px 0;
  display: flex;
}

header .top-nav .top-util .top-util_members {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px 0 25px;
}

header .top-nav .top-util .top-util_members li {
  padding-left: 18px;
  margin-left: 17px;
  background: url('../images/common/util_line.gif') left center no-repeat;
}

header .top-nav .top-util .top-util_members li:first-child {
  padding-left: none;
  margin-left: none;
  background: none;
}

header .top-nav .top-util .top-util_sns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

header .top-nav .top-util .top-util_sns li {
  margin-right: 5px;
}

header .top-nav .top-util .top-util_sns li a {
  display: block;
  width: 22px;
  height: 22px;
}

header .top-nav .top-util .top-util_sns li:nth-child(1) a {
  background: url('../images/common/top_sns01.png') no-repeat;
}

header .top-nav .top-util .top-util_sns li:nth-child(2) a {
  background: url('../images/common/top_sns02.png') no-repeat;
}

header .top-nav .top-util .top-util_sns li:nth-child(3) a {
  background: url('../images/common/top_sns03.png') no-repeat;
}

header .top-nav .top-util .top-util_sns li:nth-child(4) a {
  background: url('../images/common/top_sns04.png') no-repeat;
}

header .top-nav .top-util .top-util_search {
  position: relative;
  width: 160px;
  height: 30px;
  background-color: #fff;
  display: flex;
  align-items: center;
}

header .top-nav .top-util .top-util_search input {
  position: absolute;
  left: 0;
  width: 122px;
  height: 30px;
  outline: none;
  border: none;
}

header .top-nav .top-util .top-util_search a {
  position: absolute;
  right: 0;
  display: block;
  width: 38px;
  height: 100%;
  background: url('../images/common/icon_search.gif') center no-repeat;
}

header .logo {
  display: inline-block;
  position: relative;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
}

header .header-nav {
  width: 100%;
  height: 30px;
  position: absolute;
  top: 125px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  transition: 0.4s ease;
}

header .header-nav:hover {
  width: 100%;
  height: 300px;
  background-color: #fff;
  border-bottom: 2px solid #000;
  transition: 0.4s ease;
}

header .header-nav > ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .header-nav > ul li .header-nav_name {
  padding: 0 40px;
  margin-bottom: 4px;
  color: #202023;
  font-size: 16px;
  white-space: nowrap;
  text-align: left;
}

header .header-nav > ul li .header-nav_name span {
  position: relative;
}

header .header-nav > ul li .header-nav_name span::after {
  content: '';
  width: 100%;
  height: 4px;
  background-color: #202023;
  border-radius: 4px;
  position: absolute;
  left: 0;
  bottom: -8px;
  transform: scale(0, 1);
  transition: transform 0.3s ease;
}

header .header-nav > ul li:hover .header-nav_name span::after {
  transform: scale(1, 1);
}

header .header-nav > ul li .header-nav_contents {
  position: absolute;
  top: 20px;
  padding-top: 23px;
  display: none;
  margin-left: 40px;
}

header .header-nav:hover > ul li .header-nav_contents {
  display: block;
}

header .header-nav > ul li .header-nav_contents li {
  margin: 10px 0;
}

header .header-nav > ul li .header-nav_contents > li > a {
  font-size: 13px;
  font-weight: 700;
  color: #848484;
  white-space: nowrap;
  transition: 0.1s ease-in-out;
}

header .header-nav > ul li .header-nav_contents > li > a:hover {
  color: #202023;
}

/* Main */
/* visual */
.visual {
  width: 100%;
  height: 620px;
}

.visual .swiper-slide a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
  color: #fff;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 25px;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #fff;
  opacity: 1;
}

.visual .swiper-pagination-bullet-active {
  background: #243c84;
}

.visual .swiper-pagination-bullet:hover {
  background: #243c84;
}
/* beanist */
.beanist {
  width: 100%;
  background: url('../images/main/main_beanist_bg.gif') #fce1a6 center no-repeat;
  background-size: cover;
  padding: 112px 0 80px 0;
}

.beanist h2 {
  font-size: 42px;
  font-weight: 300;
  text-align: center;
}

.beanist h2 strong {
  font-weight: 900;
  color: #90470c;
}

.beanist h2:after {
  content: '';
  display: block;
  width: 100px;
  height: 1px;
  margin: 51px auto 0;
  background-color: #3c3c3c;
}

.beanist h3 {
  font-size: 26px;
  font-weight: 300;
  margin: 53px 0 60px;
  text-align: center;
  color: #3c3c3c;
}

.beanist h3 strong:nth-child(1) {
  font-weight: 700;
}

.beanist h3 strong:nth-child(2) {
  font-weight: 500;
}

.beanist .americano,
.beanist .latte,
.beanist .mix {
  display: flex;
  justify-content: center;
  align-items: center;
}

.beanist .americano li,
.beanist .latte li,
.beanist .mix li {
  margin: 0 2%;
  text-align: center;
}

.beanist .americano li a img,
.beanist .latte li a img {
  max-width: 259px;
}

.beanist .mix li a img {
  max-width: 217px;
}

.beanist .americano li a .img-contents,
.beanist .latte li a .img-contents,
.beanist .mix li a .img-contents {
  margin-top: 20px;
}

.beanist .americano li a .img-contents h4,
.beanist .latte li a .img-contents h4,
.beanist .mix li a .img-contents h4 {
  font-size: 20px;
  font-weight: 900;
  color: #693a13;
}

.beanist .americano li a .img-contents p,
.beanist .latte li a .img-contents p,
.beanist .mix li a .img-contents p {
  font-size: 15px;
  color: #cc8e5d;
}

.beanist .swiper-pagination-bullet-active {
  background: #90470c;
}

.beanist .swiper-pagination-bullet:hover {
  background: #90470c;
}

/* dream-factory */
.dream-factory {
  width: 100%;
  background: url('../images/main/dream_factory_bg.gif') repeat-y;
  background-size: 100% auto;
  overflow: hidden;
  position: relative;
}

.dream-factory .dream-factory-contents {
  margin-bottom: 50px;
  max-width: 1180px;
  margin: 0 auto;
  color: #fff;
  padding: 90px 20px 50px;
}

.dream-factory .dream-factory-contents h2 {
  font-size: 120px;
  font-weight: 900;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.5px;
  margin-left: -6px;
}

.dream-factory .dream-factory-contents h4 {
  font-size: 30px;
  font-weight: 900;
}

.dream-factory .dream-factory-contents p {
  margin-top: 30px;
  line-height: 150%;
}

.dream-factory-img {
  position: absolute;
  bottom: 0;
  right: -180px;
  max-width: 1063px;
}

/* go-menu */
.go-menu {
  height: 500px;
  width: 100%;
  background: url('../images/main/block02_bg.jpg') no-repeat;
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.go-menu h2 {
  font-size: 42px;
  color: #fff;
  font-weight: 300;
}

.go-menu h2 strong {
  font-weight: 900;
}

.go-menu h2:after {
  content: '';
  display: block;
  width: 100px;
  height: 1px;
  background-color: #fff;
  margin: 51px auto 0;
}

.go-menu h3 {
  font-size: 26px;
  color: #fff;
  margin: 53px 0 45px;
}

/* company */
.company {
  width: 100%;
  height: 460px;
  background: url('../images/main/company_bg.jpg') center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 130px;
}

.company .company-contents h2 {
  font-size: 44px;
  color: #fff;
}

.company .company-contents p {
  font-size: 17px;
  color: #fff;
  margin-top: 55px;
  line-height: 150%;
}

/* main-info */
.main-info {
  width: 100%;
  margin-top: 110px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-info::before {
  content: '';
  display: block;
  width: 100%;
  height: 400px;
  background-color: #efefef;
  margin-top: -180px;
  position: absolute;
}

.main-info .info-box1 {
  width: 28%;
  max-width: 330px;
  height: 330px;
  padding: 44px 35px 0;
  margin-right: 0.84%;
  position: relative;
}

.main-info .info-box1 h2 {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}

.main-info .info-box1 h2::after {
  content: '';
  display: block;
  width: 42px;
  height: 1px;
  background-color: #fff;
  margin-top: 23px;
}

.main-info .info-box1 p {
  font-size: 17px;
  color: #fff;
  margin-top: 23px;
  line-height: 150%;
}

.main-info .franchise a {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main-info .franchise {
  background: url('../images/main/main_franchise_bg.jpg') left no-repeat;
  background-size: cover;
}

.main-info .store-search {
  background: url('../images/main/main_store_bg.jpg') right center no-repeat;
  background-size: cover;
}

.main-info .store-search .search-box {
  margin-top: 35px;
  position: relative;
}

.main-info .store-search .search-box input {
  width: 100%;
  max-width: 320px;
  height: 44px;
  border: 3px solid #fff;
  background: #1c3269;
  padding-left: 20px;
  font-size: 14px;
  color: #fff;
}

.main-info .store-search .search-box input::placeholder {
  color: #fff;
}

.main-info .store-search .search-box .search-btn img {
  width: 44px;
  height: 44px;
  position: absolute;
  top: 0;
  right: 0;
}

.main-info .info-box2 {
  width: 42%;
  max-width: 500px;
  height: 330px;
  position: relative;
}

.main-info .info-box2 .news {
  margin: 8px 0 0 4%;
}

.main-info .info-box2 .news .news-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-info .info-box2 .news .news-title h2 {
  font-size: 22px;
  font-weight: 700;
  color: #202023;
}

.main-info .info-box2 .news .news-contents {
  margin-top: 21px;
}

.main-info .info-box2 .news .news-contents li {
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-info .info-box2 .news .news-contents li a {
  font-size: 15px;
  color: #7d7d7e;
}

.main-info .info-box2 .news .news-contents li a:hover {
  color: #202023;
}

.main-info .info-box2 .news .news-contents li span {
  font-size: 13px;
  color: #a4a4a5;
}

.main-info .info-box2 .brochure {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 136px;
  background: #cbc3b2;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-info .info-box2 .brochure a {
  width: 100%;
  height: 100%;
  padding: 36px 0 24px 0;
  margin-left: 7%;
}

.main-info .info-box2 .brochure a h2 {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 6px;
}

.main-info .info-box2 .brochure > img {
  position: absolute;
  bottom: -4px;
  right: 16px;
}

/* sns */
.sns {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
}

.sns h2 {
  font-size: 24px;
  font-weight: 700;
  color: #3c3c3c;
  padding-top: 98px;
}

.sns h2:after {
  content: '';
  display: block;
  width: 42px;
  height: 1px;
  background-color: #3c3c3c;
  margin: 27px auto 0;
}

.sns p {
  font-size: 22px;
  margin-top: 10px;
  color: #3c3c3c;
}

.sns .sns-list {
  padding: 34px 0 120px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2px;
}

.sns .sns-list li {
  width: 234px;
  height: 234px;
}

.sns .sns-list li a {
  width: 100%;
  height: 100%;
}

.sns .sns-list li a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* footer */
footer {
  width: 100%;
  background-color: #262626;
  position: relative;
}

footer nav {
  border-bottom: 1px solid #464646;
  padding: 16px 0;
  position: relative;
}

footer nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer nav ul li {
  margin: 3px 19px;
}

footer nav ul li a {
  color: #818181;
  font-size: 13px;
}

footer nav ul li:first-child a {
  font-weight: 500;
  color: #fff;
}

footer nav select {
  position: absolute;
  top: 13.5px;
  right: 100px;
  width: 168px;
  height: 28px;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  padding-left: 20px;
}

footer nav select option a {
  color: #848484;
  font-size: 13px;
}

footer .bottom-logo {
  margin: 41px 0 24px;
  display: flex;
  justify-content: center;
}

footer .company-info {
  width: 100%;
  max-width: 650px;
  margin-bottom: 14px;
  margin: 0 auto;
  padding-bottom: 35px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

footer .company-info p {
  color: #6c6c6c;
  font-size: 12px;
  white-space: nowrap;
}

footer .company-info p:first-child {
  margin-bottom: 8px;
}

footer .company-info p span {
  margin-right: 10px;
  padding-right: 10px;
  background: url('../images/common/footer_line.gif') right no-repeat;
}

footer .company-info p span:last-child {
  margin-right: 0;
  padding-right: 0;
  background: none;
}

footer .company-info p:nth-child(3) {
  margin-top: 14px;
}

footer .company-info img {
  position: absolute;
  top: 80px;
  right: 100px;
}