/* COMMON */
* {
  box-sizing: border-box;
}
body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(239, 239, 239);
}

.Neu {
  border-radius: 20px;
  color: rgb(31, 31, 31);
  background: rgb(244, 244, 245);
  box-shadow: rgb(218 218 222) 1px 1px 2px, rgb(255 255 255) -1px -1px 2px;
}

/* HEADER */
header {
  background-color: #000;
}

header.inner {
  background-color: #000;
}

.inner {
  width: 1200px;
  height: 88px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: relative;
  align-items: flex-end;
  justify-content: space-between;
}

@media screen and (min-width: 1200px) {
  .inner {
    width: 1200px;
  }
  .banner {
    width: 1200px;
  }
}

@media screen and (max-width: 1200px) {
  .inner {
    width: 1000px;
  }
  .layout .inner .banner {
    width: 1000px;
  }
}

.logo {
  position: absolute;
  top: 18px;
  left: 0;
}

.menu {
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.menu div {
  height: 33px;
  padding: 8px 14px;
  font-size: 18px;
  box-sizing: border-box;
}

.menu > div[data-active="true"] {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgb(239, 239, 239);
}

.menu > div[data-active="true"] a {
  color: rgb(31, 31, 31);
}

.menu > div a {
  text-decoration: none;
  color: #666;
  display: block;
  font-weight: 800;
}


.wallet {
  height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 8px;
  box-sizing: border-box;
}

.wallet .btn-terra .terra,
.wallet .btn-wallet .connect-wallet {
  color: rgb(75, 219, 75);
  border: 1px solid rgb(75, 219, 75);
  background-color: transparent;
  padding: 5px 17px;
  border-radius: 20px;
  cursor: pointer;
}

.wallet .btn-terra .terra {
  margin-right: 5px;
}

.wallet .btn-wallet .connect-wallet {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wallet .btn-wallet .connect-wallet .material-icons {
  font-size: 18px;
  margin-right: 6px;
}

.wallet .btn-wallet .connect-wallet .bar {
  margin-right: 6px;
}

/* CONTENT */
.layout .inner {
  margin-top: 50px;
  background-color: rgb(239, 239, 239);
  max-width: 1400px;
  position: relative;
}

.layout .inner .banner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  top: 0;
}

.layout .inner .banner .sub-title h1 {
  font-weight: 800;
  font-size: 44px;
}

.layout .inner .banner .fx {
  font-size: 20px;
  font-weight: 600;
}

.layout .inner .banner .fx small {
  font-size: 16px;
}

.layout .inner .banner .fx img {
  transform: translateY(4px);
  width: 24px;
  height: 24px;
}

/* TOTAL VALUE LOCKED */

.summary-section .inner {
  background-color: rgb(239, 239, 239);
  height: 586px;
  margin-bottom: 40px;
}

.summary-section .inner .Neu.total-value-locked .value-content section > h2 {
  margin-bottom: 8px;
  font-size: 12px;
  font-weight: 600;
}

.summary-section .inner .amount {
  font-size: 32px;
  font-weight: 600;
}

.summary-section .inner .Neu.total-value-locked .value-content section > figure {
  margin-top: 39px;
  display: flex;
}

.summary-section .inner .Neu.total-value-locked .value-content section > figure .chart {
  margin-right: 44px;
}

.summary-section .inner .Neu.total-value-locked .value-content section > figure h3 {
  margin-bottom: 8px;
  color: rgb(153, 153, 153);
  display: flex;
  align-items: center;
}

.summary-section .inner .Neu.total-value-locked .value-content section > figure p {
  font-weight: 600;
}

.summary-section .inner .Neu.total-value-locked .value-content section > figure div p:nth-of-type(1){
  margin-bottom: 27px;
}

.summary-section .inner .Neu.total-value-locked .value-content section > figure h3 i {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 3px;
  margin-right: 3px;
}


.summary-section .inner .Neu.total-value-locked .value-content .chart > img {
  width: 152px;
  height: 152px;
}

.summary-section .inner .Neu.total-value-locked .value-content hr {
  padding: 0px;
  margin: 80px 0px 40px;
  border: 0px;
  height: 5px;
  border-radius: 3px;
  background: rgb(244, 244, 245);
  box-shadow: rgb(218 218 222) 1px 1px 2px inset, rgb(255 255 255) -1px -1px 2px inset;
}

.inner h2 {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 8px;
}

.summary-section .inner .amount span:last-child {
  margin-left: 8px;
  font-size: 0.7em;
}

.summary-section .inner .anc-inner-right .anc-header-inner > div:not(:first-child) h3 {
  margin-bottom: 10px;
}

.summary-section .inner .anc-inner-right .anc-header-inner > div:not(:first-child) p {
  font-size: 18px;
}

.inner h3 {
    font-size: 12px;
    font-weight: 600;
    color: rgb(153, 153, 153);
}

.anc-chart img {
  width: 580px;
  height: 220px;
}

.Neu.Neu.total-value-locked {
  margin-right: 40px;
}

.Neu.total-value-locked .value-content {
  margin: 0 auto;
  height: 586px;
  padding: 60px;
}

.summary-section .inner .anc-inner-right {
  height: 586px;
  margin: auto 0;
}

.summary-section .inner .anc-inner-right .anc-buyback {
  padding: 52px 60px;
}

.Neu.anc-price {
  padding: 60px;
}

.anc-inner-right .Neu.Neu.anc-price .anc-header .anc-header-inner {
  display: flex;
  align-items: center;
}

.anc-inner-right .Neu.Neu.anc-price .anc-header .anc-header-inner > div:first-child {
  flex:1 1 0%;
}

.anc-inner-right .Neu.Neu.anc-price .anc-header .anc-header-inner > div:last-child {
  margin-left: 30px;
}

.anc-inner-right .Neu.Neu.anc-price .anc-header .anc-header-inner .pnl {
  display: inline-block;
    padding: 4px 10px;
    border-radius: 22px;
    margin-left: 10px;
    background-color: rgb(75, 219, 75);
    color: rgb(255, 255, 255);
}

.Neu.anc-buyback {
  display: flex;
  margin-top: 40px;
}

.Neu.anc-buyback hr {
  padding: 0px;
  border-width: 0px 1px;
  border-left-style: solid;
  border-left-color: rgb(226, 226, 229);
  border-right-style: solid;
  border-right-color: rgb(255, 255, 255);
  border-top-style: initial;
  border-top-color: initial;
  border-bottom-style: initial;
  border-bottom-color: initial;
}

.Neu.anc-buyback section > div {
  display: flex;
}

.Neu.anc-buyback section h2 {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 8px;
}

.Neu.anc-buyback section p {
  font-size: 20px;
  font-weight: 600;
  margin-right: 20px;
}

.Neu.anc-buyback section p span {
  font-size: 0.6em;
  margin-left: 5px;
  color: rgb(153, 153, 153);
}

/* TOTAL-DEPOSIT-BORROW */

.deposit-borrow-content .inner {
  height: 628px;
  margin: 0 auto;
  padding: 60px;
  display: block;
  border-radius: 20px;
  min-width: 0px;
  color: rgb(31, 31, 31);
  background: rgb(244, 244, 245);
  box-shadow: rgb(218 218 222) 1px 1px 2px, rgb(255 255 255) -1px -1px 2px;
}

.deposit-borrow-content .inner header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 70px;
  background: rgb(244, 244, 245);
  width: 100%;
}

.deposit-borrow-content .inner header h2 i {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 3px;
  margin-right: 3px;
  transform: translateY(1px);
}

.deposit-borrow-content .inner header h2 span {
  display: inline-block;
  padding: 6px 10px;
  border-radius: 22px;
  margin-left: 10px;
  background-color: rgb(75, 219, 75);
  color: rgb(255, 255, 255);
  font-size: 12px;
}

.deposit-borrow-content .inner header .deposit-amount span:first-child {
  font-size: 32px;
  font-weight: 600;
}

.deposit-borrow-content .inner header .deposit-amount span:last-child {
  font-weight: 600;
}

.deposit-borrow-content .inner header .borrow-amount i {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 3px;
  margin-right: 3px;
  transform: translateY(1px);
}

.deposit-borrow-content .inner header .borrow-amount span:first-child {
  font-size: 32px;
  font-weight: 600;
}

.deposit-borrow-content .inner header .borrow-amount span:last-child {
  font-weight: 600;
}

.deposit-borrow-content .inner figure canvas {
  width: 100%;
  height: 220px;
  background-image: url(./images/total_deposit_borrow.png);
}

.deposit-borrow-content .inner .stable-market .table {
  margin-top: 40px;
  height: 163px;
}

.deposit-borrow-content .inner .stable-market .row1 {
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
}

.deposit-borrow-content .inner .stable-market .row1 > div:first-child {
  margin: 0;
  font-weight: 900;
  flex-grow: 1;
  color: rgb(31, 31, 31);
}

.deposit-borrow-content .inner .stable-market .row1 .exclamation {
  vertical-align: text-bottom;
  color: rgb(153, 153, 153);
  opacity: 0.2;
  width: 13px;
  height: 13px;
  transform: translateY(-2px);
}

.deposit-borrow-content .inner .stable-market .row1 > div {
  margin-left: 60px;
  color: rgb(153, 153, 153);
  font-weight: 600;
}

.deposit-borrow-content .inner .stable-market .table .bar {
  margin-top: 20px;
  margin-bottom: 30px;
  border: 0px;
  height: 5px;
  border-radius: 3px;
  background: rgb(244, 244, 245);
  box-shadow: rgb(218 218 222) 1px 1px 2px inset, rgb(255 255 255) -1px -1px 2px inset;
}

.deposit-borrow-content .inner .stable-market .row2 {
  display: flex;
  align-items: center;

}

.deposit-borrow-content .inner .stable-market .row2 .terra-ust {
  flex-grow: 1;
  margin: 0;
  display: flex;
  align-items: center;
}

.deposit-borrow-content .inner .stable-market .row2 .terra-ust img {
  margin-right: 15px;
}

.deposit-borrow-content .inner .stable-market .row2 .terra-ust .coin {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 3px;
}

.deposit-borrow-content .inner .stable-market .row2 .terra-ust .usd {
  font-size: 13px;
  color: rgb(153, 153, 153);
}

.deposit-borrow-content .inner .stable-market .row2 > div {
  margin-left: 95px;
}

/* COLLATERAL SECTION */
.collateral-section {
  margin-top: 40px;
}

.collateral-section #inner {
  height: 1000px;
  width: 1200px;
  margin: auto;
  padding: 60px;
  border-radius: 20px;
  min-width: 0px;
  color: rgb(31, 31, 31);
  background: rgb(244, 244, 245);
  box-shadow: rgb(218 218 222) 1px 1px 2px, rgb(255 255 255) -1px -1px 2px;
  display: block;
}

.collateral-section #inner .header h2 {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 8px;
}

.collateral-section #inner .header h2 > span {
  background-color: rgb(233, 89, 121);
  display: inline-block;
  padding: 6px 10px;
  border-radius: 22px;
  margin-left: 10px;
  color: rgb(255, 255, 255);
}

.collateral-section #inner .header .amount span:first-child {
  font-size: 32px;
  font-weight: 600;
}

.collateral-section #inner .header .amount span:last-child {
  margin-left: 8px;
  font-size: 16px;
  font-weight: 600;
}

.collateral-section #inner figure img {
  width: 100%;
}

.collateral-section #inner .collateral-market .collateral-container {
  margin-top: 40px;
}

.collateral-section #inner .collateral-market .collateral-container thead {
  font-size: 12px;
  color: rgb(153, 153, 153);
  font-weight: 600;
}

.collateral-section #inner .collateral-market .collateral-container thead tr th {
  text-align: right;
  padding: 0px 15px 20px;
}

.collateral-section #inner .collateral-market .collateral-container thead tr th:first-child {
  color: rgb(31, 31, 31);
  font-weight: 600;
  text-align: left;
}

.collateral-section #inner .collateral-market .collateral-container thead tr th {
  padding-right: 0;
}

.collateral-section #inner .collateral-market .collateral-container thead tr th svg {
  vertical-align: text-bottom;
  color: rgb(153, 153, 153);
  opacity: 0.2;
  width: 13px;
  height: 13px;
  transform: translateY(-2px);
}

.collateral-section #inner .collateral-market .collateral-container .bar {
  border: 0px;
  height: 5px;
  border-radius: 3px;
  background: rgb(244, 244, 245);
  box-shadow: rgb(218 218 222) 1px 1px 2px inset, rgb(255 255 255) -1px -1px 2px inset;
}

.collateral-section #inner .collateral-market .collateral-container .collateral-asset .asset-container .coin-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(226, 226, 229);
  justify-content: space-between;
}

.collateral-section #inner .collateral-market .collateral-container .collateral-asset .asset-container .coin-container:last-child {
  border-bottom: 0;
}

.collateral-section #inner .collateral-market .collateral-container .collateral-asset .asset-container .coin-container::after {
  
}

.collateral-section #inner .collateral-market .collateral-container .collateral-asset .asset-container .coin-container > div {
  display: flex;
  align-items: center;
  width: 120px;
}

.collateral-section #inner .collateral-market .collateral-container .collateral-asset .asset-container .coin-container > div:not(:first-child) {
  justify-content: flex-end;
}

.collateral-section #inner .collateral-market .collateral-container .collateral-asset .asset-container .coin-container > div:first-child {
  padding-left: 0;
}

.collateral-section #inner .collateral-market .collateral-container .collateral-asset .asset-container .coin-container > div:last-child {
  padding-right: 0;
}

.collateral-section #inner .collateral-market .collateral-container .collateral-asset .asset-container .coin-container > div {
  padding:  30px 10px;
}

.collateral-section #inner .collateral-market .collateral-container .collateral-asset .asset-container .coin-container > div:first-child {
  width: 350px;
}

.collateral-section #inner .collateral-market .collateral-container .collateral-asset .asset-container .coin-container > div img {
  width: 60px;
  height: 60px;
  margin-right: 15px;
}

.collateral-section #inner .collateral-market .collateral-container .collateral-asset .asset-container .coin-container > div .coin {
  font-weight: 900;
  font-size: 16px;
  margin-bottom: 4px;
}

.collateral-section #inner .collateral-market .collateral-container .collateral-asset .asset-container .coin-container > div .name {
  font-size: 13px;
  color: rgb(153, 153, 153);
}

/* FOOTER */
footer {
  margin: 60px 0;
  font-size: 12px;
  color: rgba(153, 153, 153, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .inner {
  align-items: center;
}

footer .inner .footer-right .footer-icon {
  color: rgba(153, 153, 153, 0.5);
  border-radius: 50%;
  padding: 12px;
  margin-left: 12px;
  display: inline-flex;
}

footer .inner .footer-right .footer-icon:hover {
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 50%;
  filter: invert(39%) sepia(14%) saturate(0%) hue-rotate(188deg) brightness(73%) contrast(82%);
}

footer .inner .footer-right .footer-icon img {
  width: 24px;
  height: 24px;
  filter: invert(61%) sepia(10%) saturate(2%) hue-rotate(329deg) brightness(97%) contrast(95%);
  opacity: 50%;
}

footer .inner .footer-left {
  display: flex;
  gap: 28px;
}

footer .inner .footer-left > a {
  color: rgba(153, 153, 153, 0.5);
  text-decoration: none;
}

footer .inner .footer-left div a {
  text-decoration: none;
  color: rgba(153, 153, 153, 0.5);
}

footer .inner .footer-left div a > div {
  display: flex;
  align-items: center;
}

footer .inner .footer-left div a div .green-circle {
  border-radius: 50%;
  background: rgb(75, 219, 75);
  height: 10px;
  width: 10px;
}

footer .inner .footer-left div a div span {
  margin-left: 7px;
}