/* COMMON */
* {
  box-sizing: border-box;
}
body {
  color: #171313;
  font-family: Arial, sans-serif;
}
div {
  box-sizing: border-box;
}
img {
  display: block;
}
a {
  text-decoration: none;
}
button{
  background-color: transparent;
  border: none;
}
/* Button */
.btn{
  color: #171313;
}
.btn--scroll{
  height: 50px;
  display: flex;
  align-items: center;
}
.btn--text{
  text-transform: uppercase;
  color: #171313;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: -.4px;
}
.btn--arrow{
  margin-left: .5em;
  transition: .2s;
  transition-timing-function: ease-in-out;
}
.btn--arrow:hover{
  color: #fff;
  background-color: #171313;
  border: none;
  border-radius: 3em;
}
.view-more .btn--view-more{
  color: #171313;
  display: flex;
  align-items: center;
  justify-items: center;
}
.view-more .btn--view-more .btn--arrow span{
  font-size: 18px;
  border-radius: 3em;
  border: .8px solid #171313;
  padding: 4px;
}
/* title */
.sub-title{
  font-size: 1.8em;
  font-weight: 700;
}
/* Wrap */
.wrap {
  background-color: #FFBC4A;
}
/* HEADER */
header {
  width: 90%;
  position: relative;
  top: 0;
  left: 0;
  margin: 0 auto;
}
header nav.menu-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2em;
  padding-bottom: 2em;
}
header nav.menu-area h1.logo {
  width: 192px;
  height: 36px;
  background-color: aqua;
  cursor: pointer;
}
header nav.menu-area h1.logo::after {
  content: 'Spotify.Design';
}
header nav.menu-area ul.menu-list{
  display: grid;
  grid-auto-flow: column;
  gap: 1em;
}
header nav.menu-area ul.menu-list li{
  position: relative;
}
header nav.menu-area ul.menu-list li a {
  color: black;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: -.4px;
  transition: .2s;
}
header nav.menu-area ul.menu-list li a:hover{
  opacity: 0.5;
}
header nav.menu-area ul.menu-list li a:hover::before{
  content: '';
  background-color: #171313;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  left: 50%;
  bottom: -10px;
}

/* Main */

/* wrap */
main .content-wrap{
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  background-color: cadetblue;
}
main .content-wrap .box:nth-child(1) {
  order: 0;
  background-color: #FFBC4A;
}
main .content-wrap .box:nth-child(2) {
  order: 1;
  background-color: #fff;
}
main .content-wrap .box:nth-child(3) {
  order: 2;
  background-color: blanchedalmond;
}
/* main-banner slide */
.main-banner{
  padding-bottom: 3.8em;
  padding-left: 3.8em;
  padding-right: 3.8em;
}
.main-banner .slide-wrap{
  display: grid;
  grid-template-columns: max-content max-content 1fr;
  grid-template-rows: auto;
  align-items: center;
}
.slide-wrap .slide-card-ctrl{
  display: grid;
  grid-auto-flow: column;
  grid-row: auto;
  grid-column: auto;
  grid-template-columns: repeat(1, 48px);
  grid-template-rows: repeat(3, 48px);
  align-items: center;
  justify-items: center;
  margin-right: 4em;
  cursor: pointer;
  position: relative;
}
.slide-wrap .slide-card-ctrl .btn__ctrl{
  transition: .2s;
}
.slide-wrap .slide-card-ctrl .btn__ctrl:hover{
  opacity: 0.5;
}
.slide-wrap .slide-card-ctrl .btn .btn__label{
  background-color: #fff;
  width: max-content;
  position: absolute;
  align-items: center;
  padding: 10px;
  border-radius: 30px;
  color: #171313;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  visibility: hidden;
}
.slide-wrap .slide-card-ctrl .btn:nth-child(1) .btn__label{
  top: 6px;
  left: 60px;
}
.slide-wrap .slide-card-ctrl .btn:nth-child(2) .btn__label{
  top: 54px;
  left: 60px;
}
.slide-wrap .slide-card-ctrl .btn:nth-child(3) .btn__label{
  bottom: 8px;
  left: 60px;
}
.slide-description .category .category__link{
  color: #171313;
  font-weight: 600;
  font-size: 14px;
}
.slide-description .category .category__link:hover{
  text-decoration: underline;
}
.slide-description .depict-title .depict-title__link{
  display: block;
  color: #171313;
  font-size: 4em;
  letter-spacing: -.06em;
  line-height: 1.08;
  font-weight: 700;
  width: 10em;
  padding-right: 1em;
}
.slide-description .depict-title .depict-title__link:hover{
  text-decoration: underline;
}
.slide-wrap .slide-card{
  width: 46em;
  height: 46em;
  position: relative;
}
.slide-wrap .slide-card .slide-card__stack{
  width: 38em;
  height: 38em;
  position: absolute;
  top: 4em;
  left: 0;
  box-shadow: 0 0 10px rgba(80, 80, 80, 0.5);
  cursor: grab;
  overflow: hidden;
}
.slide-wrap .slide-card .slide-card__stack:nth-child(1){
  z-index: 5;
}
.slide-wrap .slide-card .slide-card__stack:nth-child(2){
  transform: rotate(-4deg);
  z-index: 4;
}
.slide-wrap .slide-card .slide-card__stack:nth-child(3){
  transform: rotate(-6deg);
  z-index: 3;
}
.slide-wrap .slide-card .slide-card__stack:nth-child(4){
  transform: rotate(10deg);
  z-index: 2;
}
.slide-wrap .slide-card .slide-card__stack img{
  width: inherit;
}
.slide-wrap .slide-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: 2 / span 2;
}
.slide-wrap .slide-bar .slide-pagination{
  height: 50px;
  display: flex;
  align-items: center;
}
.slide-wrap .slide-bar .slide-pagination span{
  font-size: 14px;
  font-weight: 700;
}
.slide-wrap .slide-bar .slide-pagination .loading-bar{
  width: 50px;
  height: 3px;
  background-color: #171313;
  margin-left: 1em;
  margin-right: 1em;
}
.slide-bar .btn--scroll .btn--arrow{
  color: #171313;
  width: 62px;
  height: 62px;
  border: .6px solid rgba(0, 0, 0, .3);
  border-radius: 3em;
  margin-left: 14px;
}
.slide-bar .btn--scroll .btn--arrow span{
  padding: .8em;
}
.slide-bar .btn--scroll .btn--arrow span:hover{
  color: #fff;
}
/* New Releases */
.new-releases > .inner{
  padding: 3.8em;
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-rows: max-content max-content;
}
.new-releases .content-box{
  margin-top: 2em;
  grid-column: span 2;
}
.new-releases .content-box .releases-list{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 1.6em;
}
.new-releases .content-box .releases-list li{
  grid-column: span 3;
  position: relative;
}
.new-releases .content-box .releases-list li a{
  color: #171313;
}
.new-releases .content-box .releases-list li a .card-img{
  overflow: hidden;
}
.new-releases .content-box .releases-list li a .card-img img{
  width: 100%;
}
.new-releases .content-box .releases-list li a .card-script{
  margin-top: 1.6em;
}
.new-releases .content-box .releases-list li a .card-script span{
  background-color: #171313;
  padding: 5px;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
}
.new-releases .content-box .releases-list li a .card-script span:hover{
  background-color: rgba(17, 13, 13, .3);
}
.new-releases .content-box .releases-list li a .card-script h3{
  margin-top: .6em;
  margin-bottom: .6em;
  font-size: 22px;
  font-weight: 700;
}
.new-releases .content-box .releases-list li a .card-script h3:hover{
  text-decoration: underline;
}
.new-releases .content-box .releases-list li a .card-script p{
  font-size: 14px;
}
/* spotlight */
.spotligth .inner{
  padding: 3.8em;
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-rows: repeat(3, max-content);
}
.spotligth .inner h3{
  font-size: 2em;
}
.portrait-slide {
  grid-column: span 2;
  display: flex;
  cursor: grab;
}
.portrait-slide .portrait-card{
  margin-top: 1.8em;
  margin-right: 128px;
  display: grid;
  grid-template-columns: 1fr min-content;
  position: relative;
}
.portrait-slide .portrait-card .portrait-img img{
  width: 34em;
}
.portrait-slide .portrait-card .portrait-dial{
  width: ;
}