// 베스트 상품 영역

section.best.inner{
  width: 123.2rem;
}

.best {
  margin-top: 5rem;
  position: relative;
  height: 38rem;

  .best__headline {
    padding-right: 2rem;
  }
  .swiper-container {
    width: 123rem;
    position: absolute;
  } 
}

// 베스트 리스트
.best__list {
  position: relative;
  list-style: none;
  margin-top: 3rem;
  padding-left: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: calc(24.4rem * 5);

  .best__item {
    width: 24.4rem;
    height: 31.6rem;
    .best__link {
      display: block;
    height: 31.6rem;

      img {
        width: 22.4rem;
      }
    }
  }
}

.product {
  position: relative;

  .product__card {
    text-align: center;
    margin: 0 !important;

    
    &:hover {
      img {
        transform: scale(1.2);
      }
    }
    
    .image--dimmed-layer {
      overflow: hidden;
      position: relative;
      width: 22.4rem;
      height: 22.4rem;
      margin: 0 auto;
      border-radius: 50%;
      &::before {
        content: '';
        position: absolute;
        box-sizing: content-box;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 50%;
        z-index: 10;
        background-color: rgba(0, 0, 0, 0.03);
      }
      .product__image {
        display: block;
        transition: transform .2s cubic-bezier(.165, .84, .44, 1), -webkit-transform .2s cubic-bezier(.165, .84, .44, 1);
        position: relative;

        &::after {
          content: '';
          width: 22.15rem;
          height: 22.15rem;
          box-sizing: content-box;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          border-radius: 50%;
          z-index: 20;
          border: 1.5px solid rgba(0,0,0, 0.07);
          
        }
      }
    }

    .product__caption {
      text-align: center;
      margin: 1.8rem 1.2rem 0;
      letter-spacing: -.5px;
      @include multi-ellipsis(1.4rem, 1.9rem, 2);
    }
  }
  .product__rank {
    position: absolute;
    top: 1rem;
    left: 2rem;
    z-index: 30;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    background-color: $booking-color-green-500;
    font-weight: bold;
    color: $booking-color-white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
