//Commom
#tab-1-content,
#tab-2-content,
#tab-3-content,
#tab-4-content,
#tab-5-content, 
#tab-6-content{
	display: none;
	opacity: 0;
}

.show {
	display: flex !important;
	opacity: 1 !important;
	transition: all 3000 ease-in;
}


.delivery {
	padding-top: 5rem;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;

	.delivery__headline  {
		padding-right: 1rem;
	}
	.deliveryUnit {
		width: 57.4rem;
	}

	.delivery__Gmarket {
		.delevery__banner {
			background-color: $booking-color-green-400;
		}
	}

	.delivery__smile {
		.delevery__banner {
			background-color: $booking-color-blue-300;
		}
	}

	.delevery__banner {
		overflow: hidden;
		position: relative;
		margin-top: 1.8rem;
		border-radius: 1rem;
		width: 100%;
		height: 28.5rem;

		.delevery__title {
			margin: 0;
			letter-spacing: -.5px;
			height: 5.1rem;
			color: $booking-color-white;
			text-align: center;
			line-height: 5.1rem;
			background-color: rgba(0, 0, 0, .05);
		}

		.swiper-slide {
			width: 100%;
			height: 28.5rem;
		}

		.swiper-button-next,
		.swiper-button-prev {
			margin: 0;
			top: 35%;
		}

		.delevery__banner__link {
			display: block;
			height: 23.4rem;

			.product__info {
				position: relative;
				display: flex;
				flex-flow: row nowrap;
				justify-content: center;
				margin-top: 1.5rem;

				.text {
					display: flex;
					flex-flow: column nowrap;
					justify-content: center;
					align-items: center;
					margin-right: 1rem;
					color: $booking-color-white;

					.product-brand-logo__image {
						display: block;
						width: 12rem;
						height: 2.1rem;

						.brand {
							letter-spacing: 0;
							font-size: 1.8rem;
						}
					}

					.product__title {
						font-family: Gmarket Sans, 'Gmarket Sans', sans-serif;
						font-size: 3rem;
						line-height: 3.3rem;
						margin: 2rem;
					}

					.prodcut__sub-title {
						opacity: .6;
					}
				}

				.product__image {
					img {
						border-radius: 50%;
					}
				}
			}
		}

	}

	.tabs {
		margin: 2.5rem 2rem 1rem;
		position: relative;
		padding-bottom: .5rem;
		border-bottom: 1px solid $booking-color-gray-100;

		.tabs__inner {
			display: flex;
			font-size: 1.8rem;
			line-height: 1.5;
			letter-spacing: normal;
			justify-content: space-around;
			align-items: center;

			.brand {
				font-size: 1.8rem;
				line-height: 3.8rem;
				font-weight: 700;
				color: $booking-color-green-400;
				text-align: center;
				cursor: pointer;
				&:nth-child(3),
				&:nth-child(7) {
					color: $booking-color-red-400;
				}

				&:hover {
					color: $booking-color-white !important;
					background-color: $booking-color-green-400;
					border-radius: 20px;
					overflow: hidden;
					padding: 0 1rem;
				}
			}
			.product-title{
				display: inline-block;
				font-size: 1.8rem;
				line-height: 3.8rem;
				letter-spacing: normal;
				color: $booking-color-gray-600;
				cursor: pointer;
				
				&:hover {
					color: $booking-color-white !important;
					background-color: $booking-color-blue-300;
					border-radius: 20px;
					overflow: hidden;
					padding: 0 1rem;
				}
			}
		}
	}
}

.tab-content {
	overflow: hidden;
	padding-top: 2rem;

	.tab__list {
		.tab-content-wrapper {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-columns: repeat(2, 1fr);
			gap: 2rem;	
		}

		.offer__item {
			position: relative;
			display: inline-block;
			height: 10rem;

			.offer__link {
				display: flex;

				.product__image {
					img {
						overflow: hidden;
						border-radius: .4rem;
						border: 1px solid $booking-color-opacity-10;
					}
				}

				.product__detail {
					margin-left: 1rem;

					.product__type {
						.type {
							display: inline-block;
							padding: 0.1rem .4rem;
							font-size: 1.2rem;
							color: $booking-color-white;
							line-height: 1.7rem;
							text-align: center;
							vertical-align: top;
						}

						.type1,
						.type4 {
							background-color: $booking-color-green-300;
						}

						.type2 {
							background-color: $booking-color-yellow-600;
						}

						.type3 {
							background-color: $booking-color-blue-400;
						}
					}

					.desc__text {
						height: 3.8rem;
						margin-top: 0.6rem;
						font-size: 1.4rem;
						color: $booking-color-black-400;
						line-height: 1.9rem;
						margin: 0;
						margin-top: .6rem;
						padding: 0;
					}
				}

				.product__price {
					font-family: sans-serif;
					font-size: 1.6rem;
					display: inline-block;

					.price {
						font-weight: bold;
						font-size: 1.9rem;
						font-style: normal;
						margin-left: 0.1em;
					}
				}
			}
		}
	}
}

.goto-product__link {
	display: block;
	margin-top: 3rem;
	height: 5.2rem;
	border: 1px solid $booking-color-opacity-10;
	border-radius: 2.7rem;
	background-color: $booking-color-white-300;
	color: $booking-color-black-400;
	line-height: 5.1rem;
	text-align: center;
	position: relative;
	&::after {
		content: '';
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		margin-left: 1rem;
		width: 1.8rem;
		height: 1.8rem;
		@include sprite-img(0 -44px); 
		text-align: cetner;
		}
}