.today-power {
  padding-top: 5.7rem;
  width: 120rem;

  .product__list {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    .trand-product__item {
      .product__card {
        margin: 0;
        padding: .2rem;

        .product__image {
          overflow: hidden;
          position: relative;
          width: 22.3rem;
          border-radius: 1.2rem;
          border: 1px solid $booking-color-gray-300;
          &:hover {
            img {
              transform: scale(1.1);
            }
          }
          &::before {
            content: '';
            position: absolute;
            box-sizing: content-box;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 10;
            // background-color: rgba(0, 0, 0, 0.03);
          }		
          img {
            display: block;
            transition: transform .2s cubic-bezier(.165, .84, .44, 1), -webkit-transform .2s cubic-bezier(.165, .84, .44, 1);
            position: relative;
            width: 100%;
            overflow: hidden;
          }
        }
        .product__caption {
          margin: 0;
          padding: 1.5rem 0 0;
          font-size: 1.4rem;
          letter-spacing: -0.5px;
        }
      }
    }
  }
  .product__price {
    display: inline-block;
  }

}