.today-power {
  padding-top: 5.7rem;
  width: 120rem;

  .product__list {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    .trand-product__item {
      .product__card {
        margin: 0;
        padding: .2rem;

        img {
          display: block;
          width: 100%;
          height: 100%;
          border-radius: 1.2rem;
          border: 1px solid $booking-color-gray-300;
        }
        .product__caption {
          margin: 0;
          padding: 1.5rem 0 0;
          font-size: 1.4rem;
          letter-spacing: -0.5px;
        }
      }
    }
  }
  .product__price {
    display: inline-block;
  }

}