.superDeal {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    height: 300px;
    top: 0;
    width: 100%;
    background-color: #ffd202;
    z-index: -1;
  }
  .superDeal__headline {
    padding-top: 6rem;
    padding-right: 1.5rem;
  }
  .title__link {
    display: block;
    @include sprite-img (-84px -52px);
    width: 16rem;
    height: 5rem;
    margin-bottom: 2rem;
  }
  .show-all {
    &::after {
      background-position: -22px -44px;
    }
  }
}

.superDeal__main {
  .product__list {
    display: flex;
    flex-flow: row wrap;
    width: 120rem;
    gap: 2rem;
    .product__item {
      position: relative;
      overflow: hidden;
      a {
        display: block;
        cursor: pointer;
      }
      .item__image {
        overflow: hidden;
        width: calc((120rem - 4.8rem) / 3);
        border-radius: 6px 6px 0 0;
        border: 1px solid $booking-color-gray-400;
        img {
          display: block;
          width: 100%;
          height: 100%;
          overflow: hidden;
        }
      }
    }
  }
  .product__discount {
    display: inline-block;
    margin-right: .7rem;
    font-family: Gmarket Sans,'Gmarket Sans',sans-serif;
    font-size: 1.9rem;
    color: $booking-color-blue-300;
  }
  .product__price {
    display: inline-block;
  }
  .product__desc {
    margin-top: .5rem;
    .text {
      height: 2.2rem;
      margin-top: 5px;
      line-height: 2.2rem;
      color: $booking-color-black-400;
      letter-spacing: -0.5px;
      word-break: break-all;
    }
  }
  .product__etc {
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
    font-size: 1.3rem;
    color: $booking-color-gray-900;
    letter-spacing: -0.5px;
    margin-top: 1.2rem;
  }

  .product__link__brand {
    border: 1px solid $booking-color-gray-200;
    width: 9.2rem;
    border-radius: 1.7rem;
    margin-top: 1.4rem;
    padding: 0.12rem;
    .brand__name {
      display: inline-block;
      font-size: 1.3rem;
      color: $booking-color-gray-600;
    }
  }
  .like {
    width: 4.2rem;
    height: 4.2rem;
    @include sprite-img (-246px 0);
    position: absolute;
    right: 1rem;
    top: 18.5rem;
  }
  .goto-product__link {
    width: 50rem;
    margin-left: 36rem;
    margin-top: 5rem;
  }
}