/* Theme */
$booking-color-black-100: #000;
$booking-color-black-200: #222;
$booking-color-black-300: #212529;
$booking-color-black-400: #444;
$booking-color-black-500: #5e636d;
$booking-color-white: #FFFFFF;
$booking-color-white-200: #f8f8f8;
$booking-color-white-300: #fafafa;
$booking-color-white-400: #f2f2f2;
$booking-color-white-500: #e2e2e2;
$booking-color-white-600: #ececec;
$booking-color-white-700: #757c8a;
$booking-color-white-800: #94989f;
$booking-color-gray-100: #eee;
$booking-color-gray-200: #DDD;
$booking-color-gray-300: #e5e5e5;
$booking-color-gray-400: #D0D0D0;
$booking-color-gray-500: #e3e3e3;
$booking-color-gray-600: #666;
$booking-color-gray-700: #777;
$booking-color-gray-800: #8b8b8b;
$booking-color-gray-900: #999;
$booking-color-blue-100: #CCEAFA;
$booking-color-blue-200: #65CDE3;
$booking-color-blue-300: #2e8de5;
$booking-color-blue-400: #33ABE9;
$booking-color-blue-500: #067dfd;
$booking-color-blue-600: #0074E9;
$booking-color-blue-700: #005A89;
$booking-color-blue-800: #003C5B;
$booking-color-blue-900: #001E2E;
$booking-color-opacity-10: rgba(0,0,0,0.1);
$booking-color-opacity-20: rgba(0,0,0,0.2);
$booking-color-opacity-30: rgba(0,0,0,0.3);
$booking-color-red-100: #FAD3D6;
$booking-color-red-200: #F5A7AC;
$booking-color-red-300: #E0454A;
$booking-color-red-400: #EA4F59;
$booking-color-red-500: #E52330;
$booking-color-red-600: #B71C26;
$booking-color-red-700: #89151D;
$booking-color-red-800: #5C0E13;
$booking-color-red-900: #2E070A;
$booking-color-yellow-100: #FEF2D9;
$booking-color-yellow-200: #FDE4B4;
$booking-color-yellow-300: #FDD78E;
$booking-color-yellow-400: #FCC969;
$booking-color-yellow-500: #FBBC43;
$booking-color-yellow-600: #FF8C05;
$booking-color-yellow-700: #977128;
$booking-color-yellow-800: #644B1B;
$booking-color-yellow-900: #32260D;
$booking-color-green-100: #F4F5D2;
$booking-color-green-200: #00c01d;
$booking-color-green-300: #00B8A4;
$booking-color-green-400: #81C348;
$booking-color-green-500: #00c01e;
$booking-color-green-600: #0abb26;
$booking-color-green-700: #10af29;
$booking-color-green-800: #50520C;
$booking-color-green-900: #282906;
$booking-color-brown-100: #C09F76; 
$booking-color-brown-200: #BFABA9;
$booking-color-brown-300: #9D7A6D;
$booking-color-brown-400: #7E5852;
$booking-color-brown-500: #5E2E27;
$booking-color-brown-600: #4B251F;
$booking-color-brown-700: #381C17;
$booking-color-brown-800: #261210;
$booking-color-brown-900: #130908;
$booking-color-purple-100: #DFD8F2;
$booking-color-purple-200: #BEB0E6;
$booking-color-purple-300: #9E89D9;
$booking-color-purple-400: #7D61CD;
$booking-color-purple-500: #5D3AC0;
$booking-color-purple-600: #4A2E9A;
$booking-color-purple-700: #382373;
$booking-color-purple-800: #25174D;
$booking-color-purple-900: #130C26;
$booking-color-blue-300: #2D8CE6;
$booking-color-blue-400: #3452B8;


$base-size: 10px;
$font-family: -apple-system, BlinkMacSystemFont, Apple SD Gothic Neo, Roboto, Noto Sans CJK KR, Tahoma, 'Noto Sans KR', 'Gmarket Sans', sans-serif;

html{
  font-size: $base-size;
}

body{
  color: $booking-color-black-200;
  background:$booking-color-white;
}

@media (max-width:600px){ 
  $base-size : 8px;
}
